/* BEGIN GLOBAL STYLING */
html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  color: white;
}

.margin {
  max-width: 960px;
  margin: 0 auto;
}
/* END GLOBAL STYLING */

/* BEGIN TOP-BAR STYLING */
#top-bar {
  background-color: black;
}

#sas-container {
  display: flex;
}

#sas-container img {
  margin: auto 0;
  height: 1.5rem;
  padding-right: 1rem;
}

#sas-inc {
  padding: 0.66rem 0;
}
/* END TOP-BAR STYLING */

/* BEGIN BANNER STYLING */
#banner-bg {
  display: flex;
  background: url(../imgs/moto.jpeg) no-repeat center;
  background-size: cover;
  height: 25rem;
}

#arrival {
  margin-top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
}

#arrival h1, h2 {
  font-weight: bold;
  margin: 0.25rem 0;
}

#arrival h1 {
  font-size: 1rem;
}

#arrival h2 {
  font-size: 2rem;
}
/* END BANNER STYLING */

/* BEGIN NAV STYLING */
#LargeNav, #SmallNav {
  background-color: firebrick;
}

.NavBar {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  padding: 0.75rem 0;
}

#LargeNav div p a, #SmallNav div p a {
  color: white;
  text-decoration: none;
}

#SmallNav {
  display: flex;
}
/* END NAV STYLING */

/* BEGIN PRODUCT STYLING */
#product-container {
  display: flex;
  justify-content: space-between;
}

.product {
  flex-direction: column;
  border: 4px solid black;
  margin-top: 3rem;
  width: 30%;
}

.product-img {
  display: flex;
  padding: 2rem;
  height: 9rem;
}

.product img {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.product p {
  text-align: center;
  background-color: black;
  padding: 0.5rem 0; 
}
/* END PRODUCT STYLING *?

/* BEGIN INFO STYLING */
#info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0 4rem 0;
}

.info {
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
}

.title {
  background-color: black;
}

.title p {
  padding: 1rem 0 1rem 2rem;
}

.data {
  color: black;
}
/* END INFO STYLING */

/* BEGIN FOOTER STYLING */
#copyright {
  display: block;
  background-color: black;
}

#copyright p {
  padding: 4rem 0;
}
/* END FOOTER STYLING */

/* BEGIN MEDIA QUERY STYLING */
@media only screen and (min-width: 1024px) {
  #SmallNav {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  #LargeNav, #thermal {
    display: none;
  }
  
  .product {
    width: 47%;
  }
}

@media only screen and (max-width: 470px) {
  #watch {
    display: none;
  }
  
  .product {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #info {
    flex-direction: column;
    margin: 3rem 0;
  }
  
  .info {
    width: 90%;
    padding-bottom: 1rem;
  }
  
  #copyright {
    text-align: center;
  }
}
/* END MEDIA QUERY STYLING */